@import 'styleguide/breakpoints';

.closed-votes {
  &__ballot {
    margin-bottom: 20px;
    padding: 0;
  }

  > {
    .row {
      > {
        [class*='col'] {
          padding-bottom: 4rem;

          @media (max-width: $breakpoint-sm) {
            padding-bottom: 3rem;
          }

          &:nth-child(odd) {
            padding-right: 2rem;

            @media (max-width: $breakpoint-sm) {
              padding-right: 15px;
            }
          }

          &:nth-child(even) {
            padding-left: 2rem;

            @media (max-width: $breakpoint-sm) {
              padding-left: 15px;
            }
          }

          .closed-votes__ballot {
            @media (max-width: $breakpoint-sm) {
              margin: 0 !important;
            }
          }
        }
      }
    }
  }
}
