.vote-ballot {
  font-size: 1.2rem;

  > .row {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-danger {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    padding: 0.6rem 0.8rem;
    margin-right: 0 !important;
  }

  &__icon {
    animation: spin 1s ease-out;

    @keyframes spin {
      0% {
        opacity: 0;
        transform: rotate(0deg);
      }

      100% {
        opacity: 1;
        transform: rotate(1080deg);
      }
    }
  }

  &__label {
    text-transform: uppercase;
  }

  &__result-cards {
    &,
    &.row {
      margin-bottom: 2rem;
    }

    .asset-card {
      display: block;
    }
  }

  &__asset-list {
    height: calc(28rem - 4px);

    &__item {
      &--highlight {
        border: 6px solid var(--turq);
        padding: 1rem calc(1rem - 8px);
      }
    }

    .vote-form-asset-list-item {
      fieldset {
        border-color: var(--grey);

        legend {
          color: var(--grey);
          font-size: 0.7rem;
          height: fit-content;
          align-self: flex-end;
          padding: 0 3px 0 3px;
          margin-left: -5px;
          float: unset;
        }
      }
    }
  }
}
