.how-it-works-page-requirement {
  text-align: center;

  &__icon {
    align-items: center;
    display: flex;
    height: 7rem;
    justify-content: center;
    margin-bottom: 2rem;
    img {
      width: auto !important;
    }
  }

  &__content {
    text-align: center;
  }
}
