.identity-card {
  color: var(--white);
  display: block;
  padding: 3rem 2rem;
  text-align: left;

  &__header {
    gap: 1rem;

    &.row > * { 
      padding: 0;
    }
  }

  &__balance {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.24px;
    color: var(--bright-sky-blue);

    span {
      color: var(--white);
    }
  }

  &__title {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.58px;
    color: var(--field-grey-two);
    text-transform: uppercase;
    text-align: left;
  }

  &__vote-markets {
    margin-bottom: 3rem !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: var(--light-navy);

    &__title {
      margin-bottom: 0 !important;
      margin-top: 2rem;
    }

    &__wrapper,
    &__message {
      background-color: var(--dark-blue-grey);
      padding: 0;
    }
  }

  > {
    [class*='container'] {
      > {
        .row {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .btn {
    display: inline-block;
    width: 5rem;
    border: 1px solid;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    padding: 0.2rem 1rem;
    margin-right: 0 !important;
    margin-bottom: 0.3rem;
  }

  .btn-outline {
    background-color: var(--black);
    color: var(--bright-sky-blue);

    &:hover {
      background-color: var(--bright-sky-blue);
      color: var(--black);
    }
  }

  .btn-primary {
      background-color: var(--turq);
      color: var(--black);

    &:hover {
      background-color: var(--black);
      color: var(--turq);
    }
  }
}

.closed-votes__ballot {
  position: sticky;
  top: 0;
}
