.asset-list-item {
  background-color: var(--white);
  padding: 1rem;
  position: relative;

  &__volume {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

    .progress {
      background-color: transparent;
    }

    .progress-bar {
      background-color: var(--blue-bar-dark);
    }

    .progress,
    .progress-bar {
      height: 100%;
    }
  }

  &:nth-child(odd) {
    .asset-list-item {
      &__volume {
        opacity: 0.2;
      }
    }
  }

  &:nth-child(even) {
    .asset-list-item {
      &__volume {
        opacity: 0.1;
      }
    }
  }
  .gridrow {
    display: grid;
    grid-template-columns: 4rem 1fr max-content;
  }
  &__icon {
    height: 2rem;
  }

  &__name,
  &__price {
    color: var(--black);
    font-weight: 600;
  }

  &__symbol,
  &__price-difference {
    color: var(--grey);
  }

  &__price-difference {
    &--positive {
      color: var(--green);
    }

    &--negative {
      color: var(--red);
    }
  }
}
