.challenge-winner-form {

  .modal-content {
    border: 1px solid var(--red);
    padding: 3rem 4rem;
    background-color: var(--black);
  }

  .row {
    margin-top: 2rem;

    strong {
      color: var(--white);
      font-size: 1.4rem;
    }
  }

  h2 {
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 600;
  }

  &__ballot-num {
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 0.7rem;
  }

  .asset-card {
    width: 100%;
    margin-top: 0.7rem;
  }

  &__stake-amount {
    font-size: 1.3rem;
  }

  .form-check-label {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
  }

  .modal-footer {
    .btn-danger {
      margin-top: 1.5rem;
      font-size: 1rem;
      letter-spacing: 0.2rem;
    }
  }
}
