.vote-form-asset-list-item {
  &__weight {
    line-height: 1;
    max-width: 5rem;
    display: flex;
    flex-direction: column;
  }

  fieldset {
    border-color: var(--grey);
    padding: 0 1rem;
    position: relative;

    &.editable {
      border-color: var(--blue);
    }

    legend {
      color: var(--blue);
      font-size: 0.7rem;
      height: fit-content;
      align-self: flex-end;
      padding: 0 3px 0 3px;
      margin-left: -20px;
      float: unset;
    }

    .form-control {
      display: table-cell;
      line-height: 0;
      position: relative;
      z-index: 5;
      overflow: visible;
      align-self: flex-start;
      height: 30px;
    }

    input {
      font-size: 1.4rem;
    }
  }
}
