@import '~bootstrap/scss/bootstrap-grid.scss';

.identity-market-card {
  color: var(--white);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 0;
  background-color: var(--light-navy);
  text-align: left;

  > {
    .row {
      background-color: var(--light-navy);
      padding: 1.5rem;
      gap: 1.5rem;

      > * {
        padding: 0;
      }
    }
  }

//   &:hover,
  &.selected {
    background-color: var(--white);
    color: var(--black);

    > {
      .row {
        background-color: var(--white);
      }
    }

    .btn-outline {
      background-color: var(--bright-sky-blue);
      border-color: var(--bright-sky-blue);
      color: var(--white)
    }
  }

  &:after{
    content: "";
    height: 2px;
    display: block;
    background-color: rgba(0, 0, 0, 0.125);
  }

  .title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: var(--turq);
    margin-bottom: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:last-child:after {
    display: none;
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__button.btn-primary {
    font-size: 12px !important;
    letter-spacing: 0.16px !important;
    margin-bottom: 0.2em;
    margin-right: 0 !important;
    width: 5rem !important;

    &.claim {
      background-color: var(--turq);
    }

    &:disabled {
      background-color: var(--grey);
    }

    &:disabled:hover {
      background-color: var(--grey);
      color: var(--black);
    }
  }
}

@include media-breakpoint-up(sm) {
  .identity-market-card {
    &__buttons {
      justify-content: flex-end;
    }
  }
}

@include media-breakpoint-up(md) {
  .identity-market-card {
    &__buttons {
      justify-content: flex-end;
    }
  }
}
