@import 'styleguide/breakpoints';

.page {
  display: flex;
  flex-flow: column;
  padding-bottom: 2rem;
  padding-top: 2rem;

  @media (min-width: $breakpoint-md) {
    box-sizing: content-box;
  }
  > {
    .row {
      margin-bottom: 5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    [class*='col'] {
      &:first-child {
        max-width: 40rem;
      }
    }
  }

  > * {
    flex: 1;
  }

  &__nav {
    display: flex;
    flex: 0;

    > * {
      flex: 1;
    }
  }

  &__title {
    text-transform: inherit;
  }

  &__title,
  &__left-content {
    margin-bottom: 3rem;
  }

  &__left-content {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: normal;
  }

  &__right-content {
    font-weight: 300;

    @media (min-width: $breakpoint-lg) {
      padding-left: 10rem !important;
    }

    > {
      .card {
        display: block;
      }
    }
  }

  .btn {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  p {
    margin-bottom: 2rem;
  }
}
