@import 'styleguide/breakpoints';

.app {
  box-sizing: content-box;
  display: flex;
  flex-flow: column;
  height: 100%;

  > * {
    flex: 1;
  }

  &__network-checker {
    &.alert {
      border-bottom: 2px solid;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  &__body {
    // padding-bottom: 10rem;
    padding: 4.4rem 0 0;
    @media (min-width: $breakpoint-md) {
      padding: unset;
    }
  }

  &__header,
  &__footer {
    flex: 0;
  }
}
