body {
  background-color: #0e273b;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
}

html,
body,
.root,
.loading-screen {
  height: 100%;
}

.loading-screen {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.loading-screen__logo {
  margin-bottom: 2rem;
  width: 70%;
}

.loading-screen__content {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}
