$primary-color: var(--blue);
$secondary-color: var(--turq);
$success-color: var(--green);
$warning-color: var(--yellow);
$danger-color: var(--red);
$info-color: var(--bright-sky-blue);
$light-color: var(--light);
$dark-color: var(--dark);

.btn {
  border: 1px solid transparent;
  border-radius: 0;
  color: var(--light);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5;

  &:hover {
    background-color: transparent;
  }

  &.disabled,
  &:disabled {
    background-color: var(--grey);
    color: var(--white);
    opacity: 1;
  }

  &-primary {
    background-color: $primary-color;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  &-secondary {
    background-color: $secondary-color;
    color: var(--black);

    &:hover {
      border-color: $secondary-color;
      color: $secondary-color;
    }
  }

  &-success {
    background-color: $success-color;
    color: var(--black);

    &:hover {
      border-color: $success-color;
      color: $success-color;
    }
  }

  &-warning {
    background-color: $warning-color;
    color: var(--black);

    &:hover {
      border-color: $warning-color;
      color: $warning-color;
    }
  }

  &-danger {
    background-color: $danger-color;
    color: var(--black);

    &:hover {
      border-color: $danger-color;
      color: $danger-color;
    }
  }

  &-info {
    background-color: $info-color;
    color: var(--black);

    &:hover {
      border-color: $info-color;
      color: $info-color;
    }
  }

  &-light {
    background-color: $light-color;
    color: var(--black);

    &:hover {
      border-color: $light-color;
      color: $light-color;
    }
  }

  &-dark {
    background-color: $dark-color;
    color: var(--white);

    &:hover {
      border-color: $dark-color;
      color: $dark-color;
    }
  }

  &-link {
    border: 0;
    letter-spacing: 0.1rem;
    padding: 0;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &-close {
    height: 32px;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    width: 32px;

    &:focus {
      border: 0;
    }

    &:hover {
      opacity: 1;
    }
    
    &::before,
    &::after {
      background-color: var(--white);
      content: ' ';
      height: 33px;
      position: absolute;
      width: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }
    
    &::after {
      transform: rotate(-45deg);
    } 
  }

  &-outline {
    background-color: transparent;

    &:hover {
      border: 0;
    }

    &-primary {
      border-color: $primary-color;
      color: $primary-color;

      &:hover {
        background-color: $primary-color;
        color: var(--white);
      }
    }

    &-secondary {
      border-color: $secondary-color;
      color: $secondary-color;

      &:hover {
        background-color: $secondary-color;
        color: var(--black);
      }
    }

    &-success {
      border-color: $success-color;
      color: $success-color;

      &:hover {
        background-color: $success-color;
        color: var(--black);
      }
    }

    &-warning {
      border-color: $warning-color;
      color: $warning-color;

      &:hover {
        background-color: $warning-color;
        color: var(--black);
      }
    }

    &-danger {
      border-color: $danger-color;
      color: $danger-color;

      &:hover {
        background-color: $danger-color;
        color: var(--black);
      }
    }

    &-info {
      border-color: $info-color;
      color: $info-color;

      &:hover {
        background-color: $info-color;
        color: var(--black);
      }
    }

    &-light {
      border-color: $light-color;
      color: $light-color;

      &:hover {
        background-color: $light-color;
        color: var(--black);
      }
    }

    &-dark {
      border-color: $dark-color;
      color: $dark-color;

      &:hover {
        background-color: $dark-color;
        color: var(--white);
      }
    }
  }
}

.close {
  &,
  &:hover {
    color: var(--white);
    opacity: 1;
  }
}
