.progress {
  background-color: rgba(var(--blue-rgb), 0.24);
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 500;
  height: 4.6rem;

  .progressbar {
    background-color: var(--blue);
  }
}
