@import './alerts';
@import './buttons';
@import './forms';
@import './progress';

html,
body,
.root {
  height: 100%;
}

body {
  background-color: var(--black);
  color: var(--white);
}

ol,
ul {
  padding: 1rem;
}

a {
  color: var(--light-blue);
  text-decoration: underline;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type='number'] {
    appearance: textfield;
  }
}

form {
  .form-control {
    &.is-invalid {
      background-image: none;

      &:focus {
        border: 0;
        box-shadow: none;
      }
    }
  }

  .form-check-input {
    &.is-invalid {
      ~ .form-check-label {
        color: inherit;
      }
    }
  }
}

pre {
  color: var(--white);
}
