.vote-page {
  &__caption {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.32px;
    margin-bottom: 15px;
    margin-top: 32px;
    color: var(--grey);
    text-transform: uppercase;
  }

  &__connect-wallet-button {
    background: transparent;
    border: 0;
    color: var(--red);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    text-transform: capitalize;
  }

  &__identity-control {
    margin-bottom: 1rem;
    width: 17rem;
  }

  &__token-balance {
    font-size: 1.6rem;
  }

  &__progress {
    width: 90%;

    .progress {
      height: 18px;
      background-color: var(--light-navy);
      margin-bottom: 10px;

      .progress-bar {
        background-color: var(--turq);
      }
    }
  }

  &__countdown {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.42px;
    display: flex;
    margin-bottom: 5px;

    @media (min-width: 540px) {
      font-size: 30px;
    }
  }

  &__close-state {
    margin-right: 10px;
  }

  &__round-dates {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.24px;
  }

  &__end-date {
    text-align: right;
  }

  &__details {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    font-size: 1.6rem;
    width: 90%;

    > * {
      margin-bottom: 2rem;
    }

    fieldset {
      padding: 0.5rem 1rem 1rem;
    }

    &-multiple {
      align-content: space-between;
      justify-content: space-between;

      > * {
        width: calc(50% - 0.5rem);
      }
    }

    &-single {
      > * {
        width: 100%;
      }
    }
  }

  &__buy {
    button {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__fund-info {
    color: red;
    font-size: 20px;
    text-align: center;
  }
}

.custom-progress-bar {
  background-color: var(--light-navy);
  transition: 'width 1s ease-in-out';
  display: flex;
  position: relative;
  height: 18px;
  .step {
    &:nth-of-type(2) {
      border-left: 1px solid red;
      border-right: 1px solid red;
    }
    position: relative;
    z-index: 1;
    span {
      position: absolute;
      top: 30px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.24px;

      @media (min-width: 650px) {
        font-size: 17px;
      }
    }
    &:nth-of-type(3) {
      span {
        left: -3.4rem;

        @media (min-width: 650px) {
          left: -2.4rem;
        }
      }
    }
  }
  margin-bottom: 50px;
}
.custom-progress-bar::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  content: '';
  width: var(--width);
  background-color: var(--stepColor);
}
