@import 'styleguide/breakpoints';

.how-it-works-page-button-group {
  .btn {
    margin: 0 0 1rem;
    width: 100%;
    @media (min-width: $breakpoint-md) {
      margin-right: 3rem;
      width: auto;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
