.account-transfer {

    .modal-content {
      border: 1px solid var(--red);
      padding: 3rem 4rem;
      background-color: var(--black);
    }
  
    .row {
      margin-top: 2rem;
  
      strong {
        color: var(--white);
        font-size: 1.4rem;
      }
    }
  
    h2 {
      color: var(--white);
      font-size: 1.9rem;
      font-weight: 600;
    }
  
    .modal-footer {
      .btn-danger {
        margin-top: 1.5rem;
        font-size: 1rem;
        letter-spacing: 0.2rem;
      }
    }
  }