@import 'styleguide/breakpoints';

.how-it-works-page-title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  @media (min-width: $breakpoint-md) {
    margin-bottom: 2rem;
    margin-top: unset;
  }
}
